.container {
  display: flex;
  gap: 24px;

  .checkboxContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  
    .checkmark {
      width: 20px;
      height: 20px;
      background-color: var(--white);
      border: 2px solid var(--geyser-200);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
    }
  
    input:checked + .checkmark {
      background-color: var(--black);
      border: none;
      position: relative;
    }
  
    input:checked + .checkmark::after {
      content: "✔";
      color: var(--white);
      font-size: 0.875rem;
      font-weight: 700;
    }
  }

  .taskName {
    font-size: 1.125rem;
    letter-spacing: -2%;
    transition: color 0.3s, opacity 0.3s, text-decoration 0.3s;
  }

  .completed {
    text-decoration: line-through;
    color: var(--star-dust-400);
    opacity: 0.6;
  }
}