.main {
  max-width: 1440px;
  margin: 0 auto;

  padding: 0 80px;

  .headerContainer {
    display: flex;
    justify-content: space-between;

    .headerContent {
      margin-top: 80px;

      .headerTitle {
        font-size: 64px;
        letter-spacing: -4%;
      }

      .headerInfo {
        display: flex;
        align-items: center;
        gap: 32px;

        margin-top: 53px;

      }
    }

    .actionButton {
      display: flex;
      align-items: center;
      gap: 32px;

      margin-top: 128px;
    }
  }

  .recipeDetailsContainer {
    display: flex;
    justify-content: space-between;

    margin-top: 64px;

    .imageContainer {
      position: relative;
      display: inline-block;
      border-radius: 12px;
      overflow: hidden;
    
      .mealImage {
        width: 840px;
        height: 600px;
        border-radius: 12px;
      }
    
      .playButton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: none;
        border: none;
        border-radius: 50%;
        cursor: pointer;

        width: 120px;
        height: 120px;

        background-color: #fff;
      }
    }
  }
  
  .recipeDescription {
    margin-top: 80px;
    
    line-height: 28px;

    color: rgba(0, 0, 0, 0.6);
  }

  .ingredientsContainer {
    margin-top: 80px;

    .ingredientsText {
      font-size: 36px;
      font-weight: 600;

      letter-spacing: -4%;
    }

    .ingredientsContent {
      display: flex;
      justify-content: space-between;
      
      .titleIngredients {
        font-size: 36px;
        font-weight: 600;
        letter-spacing: -4%;

        margin-bottom: 48px;
      }

      .ingredientsOtherRecipes {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .titleOtherRecipes {
          font-size: 32px;
          font-weight: 600;
          letter-spacing: -4%;
        }

        .ads {
          margin-top: 50px;
        }
      }
    }

    .directionsContainer {
      margin-top: 88px;

      width: 840px;

      .directionsTitle {
        font-size: 36px;
        font-weight: 600;
        letter-spacing: -4%;
      }

      .directionDescriptionOne {
        width: 792px;

        margin-top: 24px;

        line-height: 28px;
        letter-spacing: -2%;

        color: rgba(0, 0, 0, 0.6);
      }

      .directionImage {
        margin-top: 48px;
      }

      .directionDescriptionTwo {
        width: 792px;
        
        margin-top: 48px;

        line-height: 28px;
        letter-spacing: -2%;

        color: rgba(0, 0, 0, 0.6);
      }

      .horizontalLine {
        width: 840px;
        height: 1px;

        background-color: rgba(0, 0, 0, 0.1);

        margin-top: 48px;
      }

      .directionDescriptionThree {
        width: 792px;
        
        margin-top: 48px;

        line-height: 28px;
        letter-spacing: -2%;

        color: rgba(0, 0, 0, 0.6);
      }

      .directionDescriptionFour {
        width: 792px;
        
        margin-top: 48px;

        line-height: 28px;
        letter-spacing: -2%;

        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  .newsletterContainer {
    margin-top: 160px;
  }

  .likeRecipesContainer {
    display: flex;
    flex-direction: column;

    margin-top: 160px;

    .likeRecipesTitle {
      font-size: 36px;
      font-weight: 600;
      letter-spacing: -4%;

      text-align: center;
    }

    .likeRecipesCard {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      column-gap: 40px;

      margin-top: 80px;
    }
  }
}

