.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .button {
    width: 80px;
    height: 80px;

    border: none;
    border-radius: 50%;

    background-color: var(--twilight-blue-50);

    cursor: pointer;

    transition: all 0.4s;
  }

  .button:hover {
    background-color: var(--twilight-blue-100);
  }

  .name {
    text-transform: uppercase;

    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 10%;
  }
}