.main {
  max-width: 1440px;
  margin: 0 auto;

  padding: 0 80px;

  .title {
    font-size: 64px;
    letter-spacing: -4%;

    margin-top: 84px;

    text-align: center;
  }

  .recipesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 72px;
    column-gap: 40px;

    margin-top: 112px;
  }

  .pagination {
    margin-top: 80px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .newsletterSection {
    margin-top: 160px;
  }
}