.main {
  max-width: 1440px;
  margin: 0 auto;

  .title {
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -4%;

    margin-top: 80px;

    text-align: center;
  }

  .headerInfo {
    display: flex;
    justify-content: center;
    align-items: center;

    .headerAvatar {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: center;

      margin-top: 32px;

      .avatarImage {
        width: 40px;
        height: 40px;

        border-radius: 50%;
      }
      
      .avatarName {
        font-weight: 700;
        letter-spacing: -2%;
      }

    }

    .separator {
      width: 1px;
      height: 40px;

      background-color: rgba(0, 0, 0, 0.1);

      margin-left: 61px;
      margin-top: 32px;
    }

    .date {
      margin-top: 32px;
      margin-left: 24px;

      font-size: 14px;
      font-weight: 500;
      letter-spacing: -2%;

      color: rgba(0, 0, 0, 0.6);
    }
  }

  .description {
    line-height: 28px;

    color: rgba(0, 0, 0, 0.6);

    text-align: center;

    width: 1059px;

    margin: 48px 190px;
  }

  .imagePost {
    width: 1280px;
    height: 600px;

    border-radius: 24px;

    margin: 64px 80px;
  }

  .blogPostContainer {
    display: flex;

    .blogPostContent {
      //width: 920px;

      display: flex;
      flex-direction: column;

      margin: 0 150px;

      .blogPostOne {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .blogPostTitle {
          font-size: 24px;
          font-weight: 600;
          letter-spacing: -4%;
        }

        .blogPostDescription {
          width: 839px;
          
          line-height: 28px;

          color: rgba(0, 0, 0, 0.6);
        }
      }

      .blogQuote {
        width: 920px;
        height: 224px;

        background-color: #e7e7e7;

        margin-top: 64px;

        .quoteText {
          width: 839px;
          
          font-size: 20px;
          font-weight: 500;
          font-style: italic;

          line-height: 64px;
          letter-spacing: -4%;

          margin: 48px 40px;
        }
      }
    }

    .sharePost {
      margin-right: 190px;

      .socialText {
        width: 131px;
        
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 10%;

        text-transform: uppercase;
      }

      .socialMediaContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;

        margin-top: 32px;
      }
    }
  }
  .newsletterSection {
    margin-top: 132px;

    padding: 0 80px;
  }

  .recipeContainer {
    display: flex;
    flex-direction: column;

    gap: 80px;

    margin: 160px 80px;

    .recipeTitle {
      font-size: 36px;
      font-weight: 600;
      letter-spacing: -4%;

      text-align: center ;
    }

    .deliciousRecipe {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      column-gap: 40px;
      
    }
  }
  
  .footer {
    padding: 0 80px;
  }
}
