* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;

  --twilight-blue-50: #e7fafe;
  
  --gallery-100: #efefef;
  --twilight-blue-100: #d1f3fc;
  --white-100: #efefef;
  
  --bittersweet-400: #FF7967;
  --gunsmoke-400: #888;
  
  --cardinal-700: #B82132;
  
  --masala-800: #454545;

  --black-800: #454545;
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;

  width: 100%;
  height: 100vh;
}