.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 40px 0;

  .backgroundLeft {
    width: 40px;
    height: 640px;

    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: var(--twilight-blue-50);
  }

  .headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1280px;
    height: 640px;

    background-color: var(--twilight-blue-50);

    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 20px;
  }

  .headerInfo {
    margin: 50px;

    .title {
      font-size: 4rem;
      font-weight: 600;

      margin-top: 32px;
    }

    .subtitle {
      max-width: 520px;
      
      color: var(--rgba-opacity-60); 
      line-height: 28px;

      margin-top: 24px;
    }

    .tagContainer {
      display: flex;
      flex-direction: row;
      gap: 16px;

      margin-top: 30px;
    }

    .headerFooter {
      display: flex;
      flex-direction: row;
      gap: 100px;

      margin-top: 60px;
    }
  }

  .backgroundRight {
    width: 40px;
    height: 640px;

    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    background-color: var(--twilight-blue-50);
  }
}

main {
  max-width: 1440px;
  margin: 0 auto;

  padding: 0 80px;
}

.categoriesContainer {
  max-width: 1440px;
  margin: 0 auto;

  //padding: 0 80px;

  .categoriesHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 162px;

    .categoriesTitle {
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: 4%;
    }

    .categoriesButton {
      width: 200px;
      height: 60px;

      border: none;
      border-radius: 16px;

      background-color: var(--twilight-blue-50);

      cursor: pointer;

      transition: all 0.4s;

      .buttonText {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        letter-spacing: -2%;
      }
    }

    .categoriesButton:hover {
      background-color: var(--twilight-blue-100);
    }
  }

  .categoriesContent {
    display: flex;
    flex-direction: row;
    gap: 40px;

    margin-top: 80px;
  }
}

.recipesContainer {
  max-width: 1440px;
  margin: 0 auto;

  .recipesHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    margin-top: 183px;

    .recipesTitle {
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: 4%;
    }

    .recipesSubtitle {
      line-height: 28px;

      width: 706px;

      color: var(--rgba-opacity-60);  

      text-align: center;
      margin-top: 24px;
    }
  }

  .cardContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;

    margin-top: 96px;
  }
}

.chefContainer {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  //padding: 0 80px;

  margin-top: 40px;

  .chefContent {
    margin-top: 220px;
    display: flex;
    flex-direction: column;

    .chefTitle {
      width: 526px;
      
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: -4%;
    }


    .chefSubtitle {
      margin-top: 24px;
      width: 508px;

      line-height: 28px;

      color: var(--rgba-opacity-60);
    }

    .chefButton {
      width: 180px;
      height: 60px;

      border: none;
      border-radius: 16px;

      cursor: pointer;
      margin-top: 72px;

      background-color: var(--black);
      color: var(--white);

      font-size: 0.875rem;
      font-weight: 600;
      letter-spacing: -2%;

      transition: all 0.4s;
    }

    .chefButton:hover {
      background-color: var(--masala-800);
    }
  }
}

.socialContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1440px;
  margin: 0 auto;

  background: var(--linear-background);
  .socialContent {
    //padding: 0 80px;

    margin-top: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .socialTitle {
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: -4%;

      text-align: center;
    }

    .socialSubtitle {
      width: 840px;
      
      margin-top: 24px;

      line-height: 28px;

      color: var(--rgba-opacity-60);

      text-align: center;
    }

    .socialPosts {
      margin-top: 80px;

      display: flex;
      gap: 40px;
    }

    .socialButton {
      margin-top: 80px;

      width: 229px;
      height: 60px;

      border: none;
      border-radius: 12px;

      cursor: pointer;

      background-color: var(--black);

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 16px;

      margin-bottom: 80px;

      transition: all 0.4s;

      .buttonText {
        font-size: 0.875rem;
        font-weight: 600;
        letter-spacing: -2%;

        color: var(--white);
      }
    }

    .socialButton:hover {
      background-color: var(--masala-800);
    }
  }
}

.moreRecipesContainer {
  max-width: 1440px;
  margin: 160px auto;

  .moreRecipesHeader {
    display: flex;
    justify-content: space-between;
    gap: 152px;

    .moreRecipesHeaderTitle {
      width: 550px;
      
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: -4%;
    }

    .moreRecipesHeaderSubtitle {
      width: 620px;

      line-height: 28px;

      color: var(--rgba-opacity-60);
    }
  }

  .moreRecipeContent {
    margin-top: 80px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    row-gap: 40px;
  }
}


