.container {
  width: 400px;
  height: 600px;

  padding: 32px;

  border: none;
  border-radius: 30px;

  background-color: var(--twilight-blue-50);

  .title {
    font-size: 1.5rem;
    letter-spacing: -4%;
  }

  .nutritionContent {
    display: flex;
    justify-content: space-between;

    margin-top: 24px;
    margin-bottom: 16px;

    .name {
      font-size: 1.125rem;
      font-weight: 500;
      letter-spacing: -4%;

      color: rgba(0, 0, 0, 0.6);
    }

    .info {
      font-size: 1.125rem;
      font-weight: 500;
      letter-spacing: -4%;
    }
  }

  .subtitle {
    margin-top: 167px;

    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);

    text-align: center;
  }
}

