.main {
  max-width: 1440px;
  margin: 0 auto;

  padding: 0 80px;

  h1 {
    font-size: 4rem;
    letter-spacing: -4%;

    margin-top: 84px;

    text-align: center;
  }

  .mainContent {
    display: flex;
    justify-content: space-between;

    gap: 60px;

    margin-top: 72px;

    .about {
      display: flex;
      flex-direction: column;

      gap: 16px;

      .aboutText {
        font-weight: 500;
        letter-spacing: -4%;

        color: var(--rgba-opacity-60);

        text-align: justify;

        .aboutBold {
          font-weight: 600;
          letter-spacing: -4%;
        }
      }
    }
  }
}

.moreAbout {
  display: flex;
  justify-content: space-between;

  gap: 115px;

  margin-top: 48px;

  .aboutChef {
    width: 570px;

    border: 1px solid var(--rgba-opacity-60);
    border-radius: 24px;

    display: flex;
    flex-direction: column;

    gap: 22px;

    padding: 20px;

    .aboutChefTitle {
      font-size: 1.5rem;
      font-weight: 600;

      letter-spacing: -4%;
    }

    .aboutChefText {
      font-weight: 500;
      letter-spacing: -4%;

      color: var(--rgba-opacity-60);

      text-align: justify;
    }

    .aboutChefBold {
      display: flex;
      align-items: center;
      gap: 12px;

      font-size: 1.125rem;
      font-weight: 700;

      letter-spacing: -4%;
    }
  }

  .aboutChooseFoodieland {
    width: 570px;

    border: 1px solid var(--rgba-opacity-60);
    border-radius: 24px;

    display: flex;
    flex-direction: column;

    gap: 22px;

    padding: 20px;

    .aboutChooseFoodielandTitle {
      font-size: 1.5rem;
      font-weight: 600;

      letter-spacing: -4%;
    }

    .aboutChooseFoodielandBold {
      display: flex;
      align-items: center;
      gap: 12px;

      font-size: 1.125rem;
      font-weight: 700;

      letter-spacing: -4%;
    }

    .aboutChooseFoodielandText {
      font-weight: 500;
      letter-spacing: -4%;

      color: var(--rgba-opacity-60);

      text-align: justify;

      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}

.newsletterSection {
  margin-top: 160px;
}

.recipeSection {
  display: flex;
  flex-direction: column;

  .recipeTitle {
    margin-top: 160px;

    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: -4%;

    text-align: center;
  }

  .recipeContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    column-gap: 40px;

    margin-top: 80px;
  }
}