.container {
  margin-top: 48px;

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -4%;
  }

  .taskContainer {
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .line {
    width: 840px;
    height: 1px;

    background-color: var(--rgba-opacity-10);
  }
}