.container {
  display: flex;
  gap: 40px;

  .imagePost {
    width: 290px;
    height: 200px;

    border-radius: 20px;
  }

  .cardInfo {
    .cardTitle {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -4%;
    }

    .cardSubtitle {
      width: 510px;
      
      line-height: 28px;
      
      color: rgba(0, 0, 0, 0.6);

      margin-top: 16px;

      display: -webkit-box;
      -webkit-line-clamp: 2; /* Define o limite de linhas */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .cardFooter {
      display: flex;
      align-items: center;
      gap: 24px;

      margin-top: 32px;

      .footerAvatar {
        display: flex;
        align-items: center;

        gap: 16px;

        .avatarImage {
          width: 40px;
          height: 40px;

          border-radius: 50%;
        }

        .avatarName {
          font-weight: 700;
          letter-spacing: -2%;
        }
      }

      .separator {
        width: 1px;
        height: 40px;

        background-color: rgba(0, 0, 0, 0.1);
      }

      .date {
        font-size: 14px;
        font-weight: 500;

        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}