.container {
  display: flex;
  flex-direction: row;
  gap: 24px;

  .link {
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 180px;
    height: 120px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .infoTitle {
      width: 196px;
      
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -4%;

      display: -webkit-box;
      -webkit-line-clamp: 2; /* Máximo de 2 linhas antes do "..." */
      -webkit-box-orient: vertical;
      
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .infoAuthor {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -2%;

      color: rgba(0, 0, 0, 0.6);
    }
  }
}