.container {
  display: flex;
  flex-direction: row;
  gap: 24px;

  .link {
    text-decoration: none;
    color: inherit;
  }

  .content {
    display: flex;
    flex-direction: row;
    gap: 24px;

  }

  .image {
    width: 180px;
    height: 120px;

    border-radius: 12px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .infoTitle {
      width: 196px;
      
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -4%;

      display: -webkit-box;
      -webkit-line-clamp: 2; /* Máximo de 2 linhas antes do "..." */
      -webkit-box-orient: vertical;
      
      overflow: hidden;
      text-overflow: ellipsis;

      transition: all 0.4s;
    }

    .infoTitle:hover {
      color: var(--masala-800);
    }

    .infoAuthor {
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: -2%;

      color: var(--rgba-opacity-60);
    }
  }
}