.container {
  display: flex;
  gap: 24px;

  margin-top: 32px;
  margin-bottom: 32px;

  .checkboxContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  
    .checkmark {
      width: 20px;
      height: 20px;
      background-color: var(--white);
      border: 2px solid #DBE2E5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
    }
  
    input:checked + .checkmark {
      background-color: var(--black);
      border: none;
      position: relative;
    }
  
    input:checked + .checkmark::after {
      content: "✔";
      color: var(--white);
      font-size: 0.875rem;
      font-weight: 700;
    }
  }

  .directionContent {
    display: flex;
    flex-direction: column;
  }

  .directionTaskName {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -2%;
  }
}